@model TestePratico.Models.Estabelecimento

@{
    ViewBag.Title = "Teste Prático";
}

<div class="panel panel-primary">
    <h2 class="panel-heading">Excluir Estabelecimento</h2>
    <p class="col-md-12">
        @Html.ActionLink("Voltar", "Details", new { id = Model.estabelecimentoID }, new { @class = "btn btn-default" })
    </p>
    <hr />
    <h4 class="panel-body">Você tem certeza que desejar excluir este registro?</h4>
    <br />

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.razao_social)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.razao_social)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.fantasia)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.fantasia)
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.cnpj)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.cnpj)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.email)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.email)
        </div>
    </div>

    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.endereco)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.endereco)
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.cidade)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.cidade)
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.estado)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.estado)
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.telefone)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.telefone)
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.categoria)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.categoria)
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.status)</b>
            </label>
            <br />
            @Html.ValueFor(model => model.status)
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.data_cadastro)</b>
            </label>
            <br />
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.data_cadastro))
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.agencia)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.agencia)
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="control-label">
                <b>@Html.DisplayNameFor(model => model.conta)</b>
            </label>
            <br />
            @Html.DisplayFor(model => model.conta)
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-12">
            <input type="submit" value="Excluir" class="btn btn-danger" />
        </div>
    }
    <br />
</div>

